<div class="depot_form">
  <% if flash[:alert] %>
    <p id="notice"><%= flash[:alert] %></p>
  <% end %>

   <%= form_tag do %>
    <fieldset id="login_form">
       
      <div id="name">
        <%= label_tag :name, 'Name:' %>
        <%= text_field_tag :name, params[:name] %>
      </div>

      <div id="password">
        <%= label_tag :password, 'Password:' %>
        <%= password_field_tag :password, params[:password] %>
      </div>

      <div id="sumbit" >
        <%= submit_tag "Login" %>
      </div>
    </fieldset>
  <% end %>
</div>
